@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-grey: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
    height: 100vh;
    min-height: 46.667rem;
    width: 100vw;
}

main {
    border-radius: 0.333rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    height: 62.5%;
    margin-top: 2.667rem;
    margin-inline: 2.667rem;
    max-width: 61.333rem;
    min-height: 32rem;
    overflow: hidden;
}

img {
    height: 2.8rem;
}

h1 {
    color: var(--very-light-grey);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

p {
    color: var(--transparent-white);
    line-height: 1.6rem;
}

button {
    background-color: var(--very-light-grey);
    border: 0.067rem solid var(--very-light-grey);
    border-radius: 1.6rem;
    bottom: 3.2rem;
    height: 3.2rem;
    position: absolute;
    transition: background 0.2s, color 0.2s;
    width: 9.733rem;
}

button:hover {
    color: var(--very-light-grey);
    background-color: transparent;
}

.card {
    padding: 3.2rem;
    position: relative;
}

.card h1,
.card p {
    margin-top: 2.8rem;
}

.card__sedans {
    background-color: var(--bright-orange);
}

.card__suvs {
    background-color: var(--dark-cyan);
}

.card__luxury {
    background-color: var(--very-dark-cyan);
}

.btn__sedans {
    color: var(--bright-orange);
}

.btn__suvs {
    color: var(--dark-cyan);
}

.btn__luxury {
    color: var(--very-dark-cyan);
}

.hidden {
    display: none;
}

footer {
    background-color: black;
    bottom: 0;
    color: white;
    opacity: 0.5;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.attribution {
    font-size: 0.733rem;
    text-align: center;
}

.attribution a {
    color: var(--bright-orange);
    text-decoration: none;
}

@media screen and (max-width: 60rem) {
    body {
        min-width: 25rem;
        height: auto;
    }

    main {
        margin: 2.667rem 0 6.4rem 0;
        max-width: 33.333rem;
        grid-template: 1fr / 1fr;
        width: 87%;
    }

    .card {
    }

    button {
        margin-top: 2.067rem;
        bottom: auto;
        position: relative;
    }
}
